* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../img/background-body.jpg);
  background-repeat: repeat;
  font-family: 'Hahmlet', serif; }

.first_container {
  height: 30vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.712); }
  .first_container .main__logo--title {
    font-family: 'Bubblegum Sans', cursive;
    width: 60%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.header {
  margin: 0 auto; }

.mainIndex {
  background-color: rgba(255, 255, 255, 0.801);
  height: auto;
  min-height: 84vh;
  margin: 0 auto; }
  .mainIndex .second_container {
    height: 55vh; }
    .mainIndex .second_container .row {
      height: 100%; }
      .mainIndex .second_container .row .col {
        border: 1px solid gray;
        height: 100%; }
      .mainIndex .second_container .row .fir_row {
        background-image: url("../img/fir_img.jpg"); }
      .mainIndex .second_container .row .sec_row {
        background-image: url("../img/background-sec_container.jpg"); }
      .mainIndex .second_container .row .thi_row {
        background-image: url("../img/venom.jpg"); }
      .mainIndex .second_container .row .fou_row {
        background-image: url("../img/fou_img.png"); }
      .mainIndex .second_container .row .colEdit {
        width: 100%;
        height: 25%;
        background-color: #303030;
        padding: 0; }
        .mainIndex .second_container .row .colEdit .colClick {
          cursor: pointer;
          height: 100%;
          padding: 30px 0;
          background-color: rgba(48, 48, 48, 0.8);
          transition: background-color 0.8s; }
          .mainIndex .second_container .row .colEdit .colClick:hover {
            background-color: rgba(0, 0, 0, 0.9); }
          .mainIndex .second_container .row .colEdit .colClick h2 {
            width: 70%;
            text-align: center;
            margin: 0 auto;
            color: white; }

.mainBiblioteca {
  background-color: rgba(255, 255, 255, 0.801);
  margin: 0 auto;
  min-height: 84vh; }
  .mainBiblioteca .comicContainer {
    width: 100%;
    margin: 0 auto;
    background-color: antiquewhite; }
    .mainBiblioteca .comicContainer .row {
      border: 1px solid black; }
      .mainBiblioteca .comicContainer .row .comicThumbnail {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh; }
        .mainBiblioteca .comicContainer .row .comicThumbnail a {
          height: 100%;
          width: 100%;
          text-decoration: none; }
        .mainBiblioteca .comicContainer .row .comicThumbnail .comicThumbnail-dark {
          background-color: rgba(0, 0, 0, 0.85);
          color: white;
          text-align: center;
          text-decoration-skip: opacity;
          padding: 50px 0 0 0;
          margin: 0;
          width: 100%;
          height: 100%;
          transition: background-color 0.8s; }
          .mainBiblioteca .comicContainer .row .comicThumbnail .comicThumbnail-dark:hover {
            background-color: rgba(0, 0, 0, 0.404); }
          .mainBiblioteca .comicContainer .row .comicThumbnail .comicThumbnail-dark h5 {
            width: 85%;
            margin: auto; }
  .mainBiblioteca .nextPage_container {
    height: 8vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.712);
    border: 1px solid black; }
    .mainBiblioteca .nextPage_container .nextPage {
      height: 100%;
      width: 35%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .mainBiblioteca .nextPage_container .nextPage a {
        text-decoration: none;
        background-color: #353535;
        height: 25px;
        width: 30px;
        text-align: center;
        color: white;
        border-radius: 5px;
        font-size: 15px; }
      .mainBiblioteca .nextPage_container .nextPage .activeLink {
        background-color: #1d1d1d; }

.comicThumnail_fir {
  background-image: url("../img/comics/amazing_spiderman.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.comicThumnail_2 {
  background-image: url("../img/comics/captain_america.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.comicThumnail_3 {
  background-image: url("../img/comics/thanos.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.comicThumnail_4 {
  background-image: url("../img/comics/marvel_zombies.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.comicThumnail_5 {
  background-image: url("../img/comics/iron_man.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.comicThumnail_6 {
  background-image: url("../img/comics/thor.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.comicThumnail_7 {
  background-image: url("../img/comics/the_avengers.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.comicThumnail_8 {
  background-image: url("../img/comics/the_xmen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.comicThumnail_9 {
  background-image: url("../img/comics/galactus.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.mainComics {
  background-color: rgba(255, 255, 255, 0.904);
  margin: 0 auto;
  min-height: 84vh; }
  .mainComics .container-fluid {
    padding: 0; }
    .mainComics .container-fluid .row {
      margin: 0; }
      .mainComics .container-fluid .row .comicBigContainer {
        padding: 0;
        border: 1px solid black; }
        .mainComics .container-fluid .row .comicBigContainer .comicTitle {
          padding: 10px 0; }
          .mainComics .container-fluid .row .comicBigContainer .comicTitle h6 {
            text-align: center;
            color: black;
            font-weight: bold; }
      .mainComics .container-fluid .row .comicExplain {
        padding: 0;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black; }
        .mainComics .container-fluid .row .comicExplain .comicExplainContainer {
          height: 100%;
          width: 90%;
          margin: 0 auto; }
          .mainComics .container-fluid .row .comicExplain .comicExplainContainer h3 {
            font-weight: bold;
            padding: 20px 0 0 0; }
          .mainComics .container-fluid .row .comicExplain .comicExplainContainer p {
            padding: 10px 0 0 0; }
  .mainComics .comicThumbnail {
    height: 60vh;
    width: 100%; }

.mainContacto {
  background-color: rgba(255, 255, 255, 0.801);
  min-height: 84vh;
  margin: 0 auto; }

.mainPersonajes {
  background-color: rgba(255, 255, 255, 0.801);
  min-height: 84vh;
  margin: 0 auto; }

.mainAbout {
  background-color: rgba(255, 255, 255, 0.801);
  min-height: 84vh;
  margin: 0 auto; }

.footer {
  margin: 0 auto;
  background-color: rgba(44, 44, 44, 0.904);
  border: 1px solid black;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer a {
    text-decoration: none;
    color: #d8d8d8; }
    .footer a:hover {
      color: white; }
  .footer span {
    font-size: 15px;
    color: #b6b3b3; }
