* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../img/background-body.jpg);
  background-repeat: repeat; }

.header {
  margin: 0 auto; }

.footer {
  margin: 0 auto; }

.mainIndex {
  background-color: white;
  height: 84vh;
  margin: 0 auto; }
