* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background-body.jpg);
    background-repeat: repeat;
}

// IMPORTACIONES

@import "./header-footer/header";

@import "./sections/index";
@import "./sections/biblioteca";
@import "./sections/contacto";
@import "./sections/about";

@import "./header-footer/footer";