* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background-body.jpg);
    background-repeat: repeat;
    font-family: 'Hahmlet', serif;
}

// IMPORTACIONES

@import "header";

@import "index";
@import "biblioteca";
@import "contacto";
@import "about";

@import "footer";